
.pencil{
      width: 100vw;
      height:93vh;
      display: flex; 
      justify-content: space-evenly;
      flex-wrap: wrap; 
      overflow-x: hidden;
      background-color: rgba(240, 240, 184, 0.568);
     
}
.container{
    /* width: 22%; */
    width: 300px;
    /* height: 42vh; */
    height:300px;
    /* background-color: rgb(216, 181, 181); */
    background-color:pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.image{
    margin-top: -7%;
}
.image img {
    width: 300px;
    /* width: 13.75rem; */
    /* height: 200px; */
    height: 12.5rem;
    border-radius: 10px;
}

.items_desc{
    margin-top: 9.7px;
    display: flex;
    justify-content: space-around;
   
    color: green;
   
}

.items_desc.color{
    margin-right: 1.rem;
}.items_desc span .price{
    margin-left: 1rem;
}
.items_desc.line{
    width: 12px;
    height:10px;
    background-color: blue;
}


.items_desc span{
    margin-left: 1rem;
}

.items_desc .line{
    width:2px;
    height:20px;
    background-color: black;
}

.orderNow{
    margin-top: 9.6px;
   
    width: 13vh;
    height: 5vh;
    justify-content: center;
    border: none;
}
.orderNow button{
    background-color: orange;
    border: 2px solid orange;
    height: 4vh;
    width: 100px;
    font-weight: bold;
    border-radius: 25%;
}

.orderNow button:hover{
         
          outline:none;
          background-color: rgba(255, 166, 0, 0.541);
}