
.pencil-home{
    position:relative;
    background-color: blue;
}
.spinner{
    position: absolute;
    left: 40%;
    top : 40%;
}
.product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(12, 11, 11, 0.428);
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.product-container{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 192, 203, 0.498);
}
.image{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-contaner{
    width: 90%;
    height:90%;
    position: relative;
    border-radius: 12px;
}

.image-contaner span {
    position: absolute;
    right: 0%;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.69);
    font-family: cursive;
    
}
.image-contaner img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.button{
    width: 100%;
    height: 18%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 4%;
}

.button button{
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
}
@media only screen and (max-width:1000px) {
    .product{
      display: flex;
      align-items: center;
    }
    .product-container{
        margin-top: 1rem;
        margin-left: 1rem;
        width: 150px;
        height: 150px;
        background-color: pink
    }
    .button button{
        font-size: 0.4rem;
    }
}
