.contacts{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(238, 238, 22, 0.186);
    flex-wrap: wrap;
}
.cont_lefts{
    background-color: rgba(255, 255, 255, 0.617);
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: space-around;
    
    
   
}

span{
    font-family: cursive;
}

.conatact_information{
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    margin-top: 50px;
    width: 400px;
    height: 250px;
 
}

.conatact_information h2 {
   font-family: cursive;
    border-bottom: 3px solid red;
    color:black;
    

}

.information{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}
.contact_name{
    margin-bottom:10px;
}
.conatact_no{
    margin-bottom:10px;
}
.conatact_email{
    margin-bottom: 10px;
}
.conatact_address{
    margin-bottom:10px;
}
.followus{
    flex: 1;
    margin-top: 20px;
    font-weight: bold;
}
.followus i {
    font-size: 28px;
}

.insta{
    color: red;
    margin-top:10px;
}
.insta:hover{
    cursor: pointer;
}

.whatsapp:hover{
    cursor: pointer;
}
.twitter:hover{
    cursor: pointer;
}
.whatsapp{
    color: green;
    margin-top: 10px;
}

.twitter{
    color: blue;
    margin-top: 10px;
}