.payment{
        background-color: rgba(235, 235, 12, 0.521);
     
        height: 93vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

.pay_info{
    width: 60vw;
    height: 90vh;
    border: 3px solid silver;
    border-radius:  20px 20px;
    background-color: rgba(218, 163, 218, 0.699);
}

.user_info{
    width: 100%;
    height: 55vh;
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    align-items: center;
}

.user_info input{
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 3px;
}


.quantity_info{
    height: 120px;
    background-color: white;
}
.pay_button{

   background-color: yellow;
}
.quant_select{
    margin-top: 20px;
    background-color: yellow;
}

.quant_inner i {
    display: flex;
    margin-left: 266px;
    position: fixed;
    margin-top: -18px;
}
.quant_inner input{
    padding: 12px;
}
.quant_inner input:focus{
    outline: none;
}
.uparrow{
    top:108px ;
}

.user_name{
    margin-top: 10px;
    width: 450px;
    overflow-y: auto;
}
.user_name input{
    padding: 10px;
      margin-top: 20px;
}
.user_name input:focus{
    outline: none;
}

.quantity_info{
    display: flex;
}


.total_amount{
    flex:2;
    border: 3px solid silver;
    background-color: wheat;
}

.ptpayment{
    display: flex;
    align-items: center;
     justify-content: center;
     flex:4;
     background-color: wheat;
     border-bottom: 3px solid silver;
     border-top: 3px solid silver;
     border-right: 3px solid silver;
}

.ptpayment button{
  
    background-color:rgb(21,76,121);

}
.total{
    border-bottom: 3px solid silver;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}

.amount{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}
.input_block{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.input_block_minus i{
         margin-left: 18px;
         margin-top: 20px;
        size: 20px;
}
.input_block_minus i:hover{
    cursor: pointer;
}


@media only screen and (max-width: 1245px) {
   .payment{
       width: max-content;
   }

   .pay_info{
    width: 97vw;
    height: 90vh;
    }

    .input_block input {
        width: 16rem;
    }
    .total{
        font-size: 0.7rem;
    }
  }


