* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the body */
}

#root {
  height: 100%; /* Ensure the root element takes full height */
}

.user-profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-color: rgba(255, 192, 203, 0.627);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-y: auto; 
  /* margin-top: 1rem; */
}

.profile-form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  color: #444242;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: #444242;
  margin-bottom: 15px;
}

.form-group, .address-group {
  margin-bottom: 10px;
}

.form-group label, .address-group label {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  color: #444242;
  font-weight: bold;
}

.form-group input, .address-group input {
  background-color: rgb(235, 207, 207);
  width: 100%;
  padding: 6px;
  font-size: 14px;
  box-sizing: border-box;
  border: 2px solid rgb(144, 58, 72);
  border-radius: 4px;
  color: saddlebrown;
}

.form-group input:focus, .address-group input:focus {
  border: 2px solid rgb(144, 58, 72);
  outline: none;
}

.field-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field-row .form-group {
  flex: 1;
  min-width: 200px;
}


@media (max-width: 600px) {
  .user-profile {
    /* padding: 8px; */
    height: auto; /* Allow height to be auto on small screens */
    padding-bottom: 5rem;
  }

  .profile-form {
    flex-direction: column;
  }

  .actions button {
    width: 100%;
    margin-bottom: 8px;
  }

  .form-group, .address-group {
    margin-bottom: 8px;
  }

  .field-row {
    flex-direction: column;
  }

  .field-row .form-group {
    min-width: auto;
  }
}


