* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden; /* Prevent scrolling on the body */
}

.landing {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100vw;
  background-image: url(../../assests/flower.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
}

.main-content {
  display: flex;
  flex: 1;
  position: relative;
  height: 90vh !important;
}

.sidebar {
  width: 20%;
  height: 100%;
  overflow-y: auto; /* Use auto for better scroll control */
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.645);
}

.landing-content-section {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  flex-wrap: wrap !important;
}

.sidebar::-webkit-scrollbar,
.landing-content-section::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb,
.landing-content-section::-webkit-scrollbar-thumb {
  background: white;
}

.sidebar::-webkit-scrollbar-thumb:hover,
.landing-content-section::-webkit-scrollbar-thumb:hover {
  background: white;
}

.hamburger {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.landing-navbar{
  height: 10vh;
  width: 100vw;
  background-color: rgba(0, 128, 0, 0.041);
}

@media (max-width: 768px) {
  .landing {
    height: fit-content;
  }
  .hamburger {
    display: block;
  }
  .main-content{
    min-height: 90vh !important;
    /* background-color: blue; */
    margin-top: 1rem;
  }
  .landing-navbar{
    height: 10vh;
    width: 100vw;
    /* background-color: green; */
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    transform: translateX(-100%);
    height: 100vh; /* Ensure sidebar takes full height in mobile view */
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .landing-content-section {
    margin-left: 0;
  }
}
