.navbar{
    width:100vw;
    height: 7vh;
    /* background-color: #d3b46dd5; */
    background-color: rgba(255, 255, 255, 0.389);
    /* background-color: #ffebf0c2; */
    display: flex; 
    align-items: center;
    justify-content: center;
    color: black;
    text-transform: capitalize;
}

.drop-down-button{
  padding: 1px;
  border: none;
  background-color: inherit;
  color: black;
}

.left{
 flex: 1;
 align-items: center;
 width: 53px;
 justify-content: center;
 color: black;
}
.left span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: cursive;
}
.left a span {
  font-size: 1.5rem;
  color: black;
  font-weight: bolder;
}
.right{
  flex: 4;
  align-items: center;
  height: 4vh;
  /* background-color: red */
}
.right ul{
  display: flex;
  height: 3vh;
  /* margin-top: 3px;
  margin-left: 2.5rem;  */
  display: flex;
  align-items: center;
}

.right ul li{
  margin-left: 2.3rem;
  margin-right: 0.3rem;
  font-size: 1rem;
  list-style: none;
  color: black;
  font-family: cursive;
  width: fit-content;
}

 .right ul li:hover{
   border-bottom: 1px solid black;
   color: purple;
  cursor: pointer;
  transition: 0.4s ease;
} 

.cart{
  margin-left: 3rem;
  font-size: 1rem;
}
.cart:hover{
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
  transition: 0.4s ease;
}

/* .drop-down-menu-bg{
   background-color: grey
} */
/* .drop-down-menu-bg Link li{
  margin-left: 0px;
  margin-right: 0px;
} */

@media only screen and (max-width:1245px) {
  .navbar{
    width:100vw;
    height: 7vh;
    background-color: red;
    background-color: rgba(121, 10, 10, 0.77);
    font-family: "Goudy Bookletter 1911", sans-serif;
    color: white;
    flex-direction: column;
    text-transform: capitalize; 
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  color: white;
  font-size: 0.6rem;
  /* background-color: yellow; */
  margin-left: 0px;
 }

 .right{
  /* display: flex; */
  height: inherit;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: red; */
} 

.right ul{
  /* display: flex; */
  height: 3vh;
  width: min-content;
  /* align-items: center; */
  /* justify-content: center; */
  width: inherit;
  margin-top: 14px;
  align-items: center;
  padding-left: -12rem;
  /* background-color: green; */
}


.right ul li{
  font-size: 0.4rem;
  width: max-content;
  list-style: none;
  /* background-color:black; */
  color: white;
  margin-left: 6px;
}

.cart{
  font-size: 1rem;
  /* background-color: blue; */
  margin-left: 2px;
  
}

}