.login{
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: silver;
    overflow-x:hidden;
}

.login_container{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid blue;
    width: 350px;
    height: 380px;

}

.login_title{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: crimson;
    border-bottom: 2px solid #fcba03;
}